@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(".topBar").text("Home / " + screenName + " / List");

    //$(".topBar").text("Home / Customers / List");
</script>

<script src="~/Scripts/jqueryui-1.12.1.jquery-ui.min.js"></script>
<div id="testId">
</div>

@*<div style="BACKGROUND-COLOR: white; height: 43px;">
    <h3 style="text-align: center; padding-top: 8px;font-family: Times New Roman; color: black;">Price Group</h3>
</div>*@

<br />
<div id="createButtonDivId"></div>


<div id="createPopupDialog" title="Create" style="overflow: hidden;">
    <div id="tabMenuId"></div>
    <div class="formContainer">
        <div id="FormDivId"></div>
        <div id="buttonDivId"></div>
    </div>
</div>




@*<input type="button" value="Create New" onclick="NewCreate();" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 85%; font-family: Times New Roman; background-color: #428bca" />*@

@*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 85%; font-family: Times New Roman;">Add Pricegroup</button>*@
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content" style="width: 65%; border-radius: 0px">
                <div class="modal-header modalHeader" style="height: 50px">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel"><span id="modalTittle">Modal title</span></h4>

                </div>
                <div class="modal-body" style="padding: 10px 20px">

                    @* <div id="tabMenuId"></div>
                    <div class="formContainer">
                        <div id="FormDivId"></div>
                        <div id="buttonDivId"></div>
                    </div>*@



                </div>
                @* <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" onclick="SavePriceGroup();" class="btn btn-primary">Save changes</button>
                </div>*@
            </div>
        </div>
    </div>
</div>


@*<input type="button" value="Create Customer" onclick="CustomerCreate();" class="btn btn-primary btn-lg" style="margin-left: 85%; font-family: Times New Roman; background-color: #428bca" />*@
<div class="tableDiv" style="width: 100%; overflow-x: auto; height: 400px; overflow-y: auto;">
    <table id="table" class="table table-striped table-bordered tableId">
        <thead id="ListHeadDivId">
        </thead>
        <tbody id="ListBodyDivId">
        </tbody>
        <tfoot id="ListfootDivId">
        </tfoot>

    </table>
</div>

<script type="text/javascript">
  @*  var url_GetCustHeader = '@Url.Content("~/Customers/GetCustHeader")';
    var url_GetCustValue = '@Url.Content("~/Customers/GetCustValue")';*@

    //GetGridHeaderDetails(url_GetCustHeader, url_GetCustValue, "CustomerHead", "CustomerBody");
    GetGridHeaderDetails(url_GetListConfig, url_GetListValue, "ListHeadDivId", "ListBodyDivId", '');



</script>


@*<script src="~/Scripts/Simplr/PriceGroup.js"></script>*@

<script>
    var url_save = '@Url.Content("~/PriceGroup/Save/")';
    var url_save1 = '@Url.Content("~/PriceGroup/Save1/")';

    $("#myModal").draggable({
        handle: ".modal-header"
    });

     
</script>




@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
    @*    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            var id = 0;
            $(document).on('click', '.btnEdit', function () {
                id = $(this).attr("data-value");
                $('#dialog').dialog('open');
            });

            $('#dialog').dialog({
                autoOpen: false,
                width: "50%",
                resizable: false,
                title: 'Details',
                modal: true,
                open: function (event, ui) {
                },
                buttons: {
                    "Close": function () {
                        $('#dialog').dialog('close');
                    }
                }
            });
        });


    </script>
}
