input-group {
    display: block;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}


::placeholder {
    color: gray;
    /*color: black;*/
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

/*newly add by.M 22.05.2023*/

 .selected {
        /*background-color: red;*/
        font-weight: bold;
        /*color: #fff;*/
    }

    tr.highlighted td {
        background: lightgray;
    }

    /*---etika -USER SETTINGS NEW FORM- commented  by.M*/
    /*#Name {
        width: 400px;
        background-color: white !important;
    }*/

    /*#CustID {
        width: 400px;
        background-color: white !important;
    }*/

    /*img {
            max-width: 80px;
        }*/



      /*body {
        font-family: Arial,'Free 3 of 9';
    }

    ul.tree li {
        list-style-type: none;
        position: relative;
    }

        ul.tree li ul {
            display: none;
        }

        ul.tree li.open > ul {
            display: block;
        }

        ul.tree li a {
            color: black;
            text-decoration: none;
        }

            ul.tree li a:before {
                height: 1em;
                padding: 0 .1em;
                font-size: .8em;
                display: block;
                position: absolute;
                left: -1.3em;
                top: .2em;
            }

        ul.tree li > a:not(:last-child):before {
            content: '+';
        }

        ul.tree li.open > a:not(:last-child):before {
            content: '-';
        }




        
    body {
        margin: 0 auto;
    }

    ul {
        list-style-type: none;
        margin: 3px;
    }

        ul.tree li:before {
            height: 1em;
            width: 12px;
            border-bottom: 1px dashed;
            content: "";
            display: inline-block;
            top: -0.3em;
        }

        ul.tree li {
            border-left: 1px dashed;
        }

            ul.tree li:last-child:before {
                border-left: 1px dashed;
            }

            ul.tree li:last-child {
                border-left: none;
            }
 
    .listInput-group {
        /*position: relative;*/
        /*display: table;*/
        border-collapse: separate;
    }
 
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .columnA {
        float: left;
        /*width: 33.33%;*/
        width: 10%;
        padding: 10px;
        /*height: 300px;*/ /* Should be removed. Only for demonstration */
        height: 120px;
    }

    .columnB {
        float: left;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .rowA:after {
    }
 
    /*password default eye removed*/
    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear {
        display: none;
    }
 



/*@*loading, processing,downloading images*@*/
 
    #LoadingImg {
        background: #ffffff;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 25%;
        opacity: .80;
    }

    .spinner {
        margin: 0 auto;
        height: 64px;
        width: 64px;
        animation: rotate 0.8s infinite linear;
        border: 5px solid firebrick;
        border-right-color: transparent;
        border-radius: 50%;
    }

    @@keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
 

 
    /*.input-group .form-control {*/
    .input-group {
        z-index: 1;
    }

    .lookUpScroll {
        position: inherit;
    }

    .select2-container {
        width: 100% !important;
    }
 

 
        .select2{width:150px;}
     



@*OSG Dashboard page List row*@
 
    #ListBodyDivId_DashBoardForm_LstPOTotal > tr > td {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #ListBodyDivId_DashBoardForm_LstByInvoice > tr > td {
        padding-top: 3px;
        padding-bottom: 3px;
    }*/
 