@{
    ViewBag.Title = "MapDirections";
}

<h2>MapDirections</h2>




<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Waypoints in Directions</title>
    <style>
        #right-panel {
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

            #right-panel select, #right-panel input {
                font-size: 15px;
            }

            #right-panel select {
                width: 100%;
            }

            #right-panel i {
                font-size: 12px;
            }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
            float: left;
            width: 70%;
            height: 100%;
        }

        #right-panel {
            margin: 20px;
            border-width: 2px;
            width: 20%;
            height: 400px;
            float: left;
            text-align: left;
            padding-top: 0;
        }

        #directions-panel {
            margin-top: 10px;
            background-color: #FFEE77;
            padding: 10px;
            overflow: scroll;
            height: 400px;
            /*height: 174px;*/
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="right-panel">
        <div>
            <div style="width:100%">
                <div style="width:40%;float:left">
                    <b>Date      :</b>
                </div>
                <div style="width:60%;float:right;height:36px">
                    <input type="text" id='RouteDate' class='datepicker' value="2020-02-03" />
                </div>
            </div>
            <div style="width:100%">
                <div style="width:40%;float:left">
                    <b>Start Time:</b>
                </div>
                <div style="width:60%;float:right;height:36px">
                    <input type="text" id='StartTime' class="timepicker" value="00:01" />
                </div>
            </div>

            <div style="width:100%">
                <div style="width:40%;float:left">
                    <b>End Time  :</b>
                </div>
                <div style="width:60%;float:right">
                    <input type="text" id='EndTime' class="timepicker" value="23:59" />
                </div>
            </div>
            <br>
            <div style="width:100%">
                <div style="width:40%;float:left">
                    <b>Speed Limit  :</b>
                </div>
                <div style="width:60%;float:right">
                    <select id="SpeedLimit" name="cars">
                        <option value="6">Slow</option>
                        <option value="3">Medium</option>
                        <option value="1">Fast</option>
                    </select>
                </div>
            </div>

            <br>

            <input type="submit" id="submit">
        </div>
        <div id="directions-panel"></div>
    </div>
    <script src="~/Scripts/aes.js"></script>

    <script>
        var url_GetActionConfigData = '@Url.Content("~/ActionConfig/GetActionConfigData/")';
        var executeQry = "";
        var marker;
        var map;
        var directionsService = "";
        var directionsRenderer = "";
        function initMap() {

            directionsService = new google.maps.DirectionsService;
            directionsRenderer = new google.maps.DirectionsRenderer;
            //var uluru = { lat: 11.0494, lng: 77.0094 };
            var uluru = { lat: 41.85, lng: -87.65 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: uluru
            });
            marker = new google.maps.Marker({
                position: uluru,
                //icon: "http://localhost:52063/Images/simplrTruck.png",
                // icon: imageA,
                map: map
            });
            directionsRenderer.setMap(map);
           // execute(map);

            // clearMarkers();
            debugger;
            execute(map);
            document.getElementById('submit').addEventListener('click', function () {
               // debugger;
                //clearMarkers();
               // directionsRenderer.setMap(map);
                execute(map);
            });
        }


        //function calculateAndDisplayRoute(directionsService, directionsRenderer, val) {
        function calculateAndDisplayRoute(directionsService, directionsRenderer, j, executeQry) {
            var waypts = [];
            var orginLat = '';
            var orginLon = '';
            var destinationLat = '';
            var destinationLon = '';
            //for (var i = 0; i < executeQry.length ; i++) {
            for (var i = 0; i < j  ; i++) {
                if (j == 1) {
                    destinationLat = executeQry[i].Latitude;
                    destinationLon = executeQry[i].Longitude;
                }
                if (i == 0) {
                    orginLat = executeQry[i].Latitude;
                    orginLon = executeQry[i].Longitude;
                }

                    // else if (i == executeQry.length j - 1) {
                else if (i == j - 1) {
                    destinationLat = executeQry[i].Latitude;
                    destinationLon = executeQry[i].Longitude;
                }
                else {
                    waypts.push({
                        location: new google.maps.LatLng(executeQry[i].Latitude, executeQry[i].Longitude),
                        stopover: true
                    });
                }
            }

            directionsService.route({
                origin: new google.maps.LatLng(orginLat, orginLon),
                destination: new google.maps.LatLng(destinationLat, destinationLon),
                waypoints: waypts,
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
            }, function (response, status) {
                if (status === 'OK') {
                    //debugger;
                    directionsRenderer.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });

        }
        function setMapOnAll(map) {
            marker.setMap(null);
        }
        function clearMarkers() {
            setMapOnAll(null);
        }
        function execute(map) {
            var date = $('#RouteDate').val();
            var startTim = $('#StartTime').val();
            var endTim = $('#EndTime').val();
            var speedLimit = parseInt($('#SpeedLimit').val()) * 1000;

            //var startTim = "01:10:10";
            //var endTim = "23:59:59";

            var startdate = date + " " + startTim;
            var enddate = date + " " + endTim;
            var qry = "SELECT CustVisit.AgentId, Name, Latitude,Longitude , TransDate  FROM CustVisit INNER JOIN SalesAgent ON CustVisit.AgentId = SalesAgent.Code  INNER JOIN (Select AgentId, max(TransDate) as MaxTransDate  FROM CustVisit Where   TransDate between '" + startdate + "' and '" + enddate + "' Group by AgentID ) TCV ON CustVisit.AgentID = TCV.AgentID and CustVisit.TransDate = MaxTransDate Where Longitude <> 0 and Latitude <> 0";


            var key = CryptoJS.enc.Utf8.parse('simplr8080808080');
            var iv = CryptoJS.enc.Utf8.parse('simplr8080808080');
            qry = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(qry), key, { keySize: 128 / 8, iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });
            var params = "{'query':'" + qry + "'}";
            $.ajax({
                type: "POST",
                url: url_GetActionConfigData,
                data: params,
                contentType: "application/json;charset=utf-8",
                // dataType: "json",
                async: false,
                success: function (results) {

                    //if (results != "") {
                    //    executeQry = $.parseJSON(results);
                    //}
                   // debugger;
                    if (results != "") {
                        var executeQry = $.parseJSON(results);
                        clearMarkers();
                        var j = 0;
                        for (var i = 0; i < executeQry.length    ; i++) {
                            setTimeout(function () {
                                var myLatLng = '';
                                myLatLng = { lat: executeQry[j].Latitude, lng: executeQry[j].Longitude };

                                marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                    icon: {
                                        url: "http://maps.google.com/mapfiles/ms/icons/truck.png",
                                        scaledSize: new google.maps.Size(50, 50),
                                        labelOrigin: { x: 25, y: 0 }
                                    },
                                });

                                if (i == j)
                                    calculateAndDisplayRoute(directionsService, directionsRenderer, j, executeQry);
                                else {
                                    if (j != 0)
                                        calculateAndDisplayRoute(directionsService, directionsRenderer, j + 1, executeQry);

                                }
                                j++;

                            }, i * speedLimit);
                             // }, i * 1000);//3000 -- 3sec


                        }
                    }
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI9hx4Xgpd5p5p_H_7Uu0vQTCX4nIiyJk&callback=initMap">
    </script>

    @*<input id="timepicker1" type="text" name="timepicker1" />*@


    <script src="~/Scripts/jquery-1.8.2.min.js"></script>

    <!-- Bootstrap core CSS -->
    @*<link href="css/bootstrap.css" rel="stylesheet">*@
    @*<link href="~/Picker/TimePicki/css/bootstrap.css" rel="stylesheet" />*@
    <!-- Custom styles for this template -->
    @*<link href="css/style.css" rel="stylesheet">*@
    @*<link href="~/Picker/TimePicki/css/style.css" rel="stylesheet" />*@
    @*<link href="css/timepicki.css" rel="stylesheet">*@
    <link href="~/Picker/TimePicki/css/timepicki.css" rel="stylesheet" />

    @*<script src="js/jquery.min.js"></script>*@
    <script src="~/Picker/TimePicki/js/jquery.min.js"></script>
    @*<script src="js/timepicki.js"></script>*@
    <script src="~/Picker/TimePicki/js/timepicki.js"></script>

    <script>
        //$('.timepicker').timepicki();
        $('.timepicker').timepicki({
            show_meridian: false,
            min_hour_value: 0,
            max_hour_value: 23,
            step_size_minutes: 1,
            overflow_minutes: true,
            increase_direction: 'up',
            start_time: ["00", "01"],
            disable_keyboard_mobile: true
        });
    </script>
    <script src="~/Picker/TimePicki/js/bootstrap.min.js"></script>
    <script type="text/javascript">


        //$(function () {
        //     $('#datetimepicker1').datetimepicker();
        //});
    </script>

    <!-- FOR DATEPICKER -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="~/Scripts/jqueryui-1.12.1.jquery-ui.min.js"></script>
    <script>


        $(function () {
            $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });

            //$("#datetimepicker2").datepicker();
        });
    </script>

    <!-- FOR BOOTSTRAP -->
    @*<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@





</body>
</html>