@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_PageLayout.cshtml";
    
}
<script>
    $(".topBar").text("Home / DashBoard ");
</script>
@*<!DOCTYPE html>
<html>
<head>
<title>Font Awesome Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h1>fa fa-line-chart</h1>

<i class="fa fa-line-chart"></i>
<i class="fa fa-line-chart" style="font-size:24px"></i>
<i class="fa fa-line-chart" style="font-size:36px"></i>
<i class="fa fa-line-chart" style="font-size:48px;color:red"></i>
<br>

<p>Used on a button:</p>
<button style="font-size:24px">Button <i class="fa fa-line-chart"></i></button>

<p>Unicode:</p>
<i style="font-size:24px" class="fa"></i>

</body>
</html> *@

@*<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@

@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@

<!------ Include the above in your HEAD tag ---------->

@*<i class="fa fa-users" style="font-size: 36px"></i>*@

@*<div class="container">*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
          @*  <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-bookmark"></span>Quick Shortcuts
                </h3>
            </div>*@
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">

                        <div id="Menutext" style="border-color: white;"></div>
                        @*   <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt glyphiconmargintop"></span>
                            <br />
                            Apps</a>

                        <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment glyphiconmargintop"></span>
                            <br />
                            Comments</a>
                        <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file glyphiconmargintop"></span>
                            <br />
                            Notes</a>
                        <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture glyphiconmargintop"></span>
                            <br />
                            Photos</a>
                        <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag glyphiconmargintop"></span>
                            <br />
                            Tags</a>

                        <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart glyphiconmargintop"></span>
                            <br />
                            Purchase</a>*@



                    </div>
                </div>
                @*<a href="http://www.jquery2dotnet.com/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>*@
            </div>
        </div>
    </div>
</div>
@*</div>*@
@*<div >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>Quick Shortcuts</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span>
                                <br />
                                Customers</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span>
                                <br />
                                Sales</a>
                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span>
                                <br />
                                Apps</a>
                            <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span>
                                <br />
                                Bookmarks</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span>
                                <br />
                                Comments</a>
                            <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span>
                                <br />
                                Notes</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span>
                                <br />
                                Photos</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span>
                                <br />
                                Tags</a>

                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>
                                <br />
                                Purchase</a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

   <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>Quick Shortcuts</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">

                            <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span>
                                <br />
                                Customers</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span>
                                <br />
                                Sales</a>
                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span>
                                <br />
                                Apps</a>
                            <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span>
                                <br />
                                Bookmarks</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span>
                                <br />
                                Comments</a>
                            <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span>
                                <br />
                                Notes</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span>
                                <br />
                                Photos</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span>
                                <br />
                                Tags</a>

                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>
                                <br />
                                Purchase</a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

   <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>Quick Shortcuts</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">

                            <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span>
                                <br />
                                Customers</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span>
                                <br />
                                Sales</a>
                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span>
                                <br />
                                Apps</a>
                            <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span>
                                <br />
                                Bookmarks</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span>
                                <br />
                                Comments</a>
                            <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span>
                                <br />
                                Notes</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span>
                                <br />
                                Photos</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span>
                                <br />
                                Tags</a>

                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>
                                <br />
                                Purchase</a>

                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

   <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>Quick Shortcuts</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">

                            <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span>
                                <br />
                                Customers</a>
                                <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span>
                                <br />
                                Sales</a>
                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span>
                                <br />
                                Apps</a>
                            <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span>
                                <br />
                                Bookmarks</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span>
                                <br />
                                Comments</a>
                            <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span>
                                <br />
                                Notes</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span>
                                <br />
                                Photos</a>
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span>
                                <br />
                                Tags</a>

                            <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>
                                <br />
                                Purchase</a>

                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    </div>*@



<style>
    body {
        padding-top: 0px;
    }

    /*.panel-body .btn:not(.btn-block) {
        width: 120px;
        margin-bottom: 10px;
    }*/
    .panel-body .btn:not(.btn-block) {
        /*width: 306px;*/
        height: 132px;
        margin-bottom: 12px;
    }

    .glyphiconmargintop {
        margin-top: 25px;
    }

       @@media only screen and (max-width: 767px) {
        .nav-side-menu {
            width: 16%;
        }
        .topheader {
            margin-left: 28.5%;
        }
        .navbar-fixed-top {
            width:90%;

        }
        .nav-side-menu li a {
        display: inline-block;
        }
    }
</style>

@*<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>*@

<script src="~/Scripts/Main/Dashicon.js"></script>

<script type="text/javascript">
    function DashBoardPage() {
        window.location = "/DashBoard/Index";
    }

    function IndexPage() {
        window.location = "/Home/Index";
    }

    function AboutPage() {
        window.location = "/Home/About";
    }
    GetDashList();
    //GetDashValueList();
</script>


