@{
    ViewBag.Title = "ForgotPassword";
}

<style>
    #makeMeDraggable {
        width: 100px;
        height: 100px;
        background: red;
    }

    .makeMeDraggabletest {
        width: 200px;
        height: 40px;
        background: white;
    }

    .makeMeDraggableLabel {
        width: 200px;
        height: 50px;
        border-style: ridge;
    }

    .makeMeDraggableDropdown {
        width: 200px;
        height: 50px;
        border-style: ridge;
    }

    .makeMeDraggabletext {
        width: 200px;
        height: 40px;
        background: white;
        border-style: ridge;
    }

    .makeMeDraggabledatetime {
        width: 200px;
        height: 35px;
        background: white;
        border-style: ridge;
    }

    .makeMeDraggablePicture {
        width: 75px;
        height: 75px;
        background: white;
        border: 1px solid black;
    }

    .makeMeDraggableSlider {
        width: 65px;
        height: 65px;
        background: white;
        border: 1px solid black;
    }

    .makeMeDraggablePhoto {
        width: 75px;
        height: 75px;
        background: lightgray;
        border: 1px solid black;
    }

    .makeMeDraggableListBox {
        /*width: 150px;*/
        width: 100px;
        height: 100px;
        background: white;
        border-style: ridge;
    }


    .mytable td {
        font-size: 10px;
    }

    .indication_style {
        border: 5px solid lightgray;
    }

    .indication_backcolor {
        background-color: blue;
        color: white;
    }
</style>


@section Scripts{


    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

}

<!-- PANEL FOR GETTING INPUT STARTS HERE... ========================-->
<div id="Input_div" align="center">

    <div id="Input_div" align="center">

        <div class="formContainer_survey">
            <div class="row">
                <div class="labeltext" style="width:100%;">
                    <label style="height: 30px;font-size:24px;color:;background-color:;font-family:sans-serif;text-align:Center;">
                        FORGOT PASSWORD VERIFICATION PAGE
                    </label>
                    <div class="labeltext" style="width:100%">
                        <hr>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="labeltext" style="width:20%;">
                    <label style="height: 30px;font-size:14px;color:;background-color:;font-family:sans-serif;0;text-align:Left;">
                        OTP
                    </label>
                </div>
                <div class="labeltext" style="width:20%;">
                    <input type="text" style="width:100%;height: 30px;font-size:12px;color:#1f1f1f;background-color:#ffffff;font-family:sans-serif;text-align:Left;"
                           id="txtmobileOTP" onkeypress="return isNumber(event)" />
                </div>
                <div class="labeltext" style="width:10%;">
                    <input type="button" onclick="callOTPVerification()" value="OTP Verify" style="width:85%; height: 30px;font-size:12px;color:#ffffff;background-color:#428bca;font-family:sans-serif;text-align:Center;line-height:none;" />
                </div>

            </div>
            <div class="row">
                <div class="labeltext" style="width:20%;">
                    <label style="height: 30px;font-size:14px;color:;background-color:;font-family:sans-serif;0;text-align:Left;">
                        New Password
                    </label>
                </div>
                <div class="labeltext" style="width:20%;">
                    <input type="text" style="width:100%;height: 30px;font-size:12px;color:#1f1f1f;background-color:#ffffff;font-family:sans-serif;text-align:Left;"
                           id="txtnewpwd" />
                </div>

            </div>
            <div class="row">
                <div class="labeltext" style="width:20%;">
                    <label style="height: 30px;font-size:14px;color:;background-color:;font-family:sans-serif;0;text-align:Left;">
                        Confirm Password
                    </label>
                </div>

                <div class="labeltext" style="width:20%;">
                    <input type="text" style="width:100%;height: 30px;font-size:12px;color:#1f1f1f;background-color:#ffffff;font-family:sans-serif;text-align:Left;"
                           id="txtconfirmpwd" />
                </div>
                <div class="labeltext" style="width:10%;">
                    <input type="button" onclick="UpdateNewPassword(0)" value="Update Password" style="width:85%; height: 30px;font-size:12px;color:#ffffff;background-color:#428bca;font-family:sans-serif;text-align:Center;line-height:none;" />
                </div>
            </div>
          

        </div>

    </div>

</div>


<script src="~/Scripts/jquery-1.9.1.min.js"></script>

 
<script>
    var userId = '@ViewBag.userId';
    var url_UpdateForgetPassword= '@Url.Content("~/Login/UpdateForgetPassword")';




    function callOTPVerification() {
       // debugger;
        UpdateNewPassword(1);
    }
    var isverify = "";
    function UpdateNewPassword(type) {
        debugger;
       
        var otp = $('#txtmobileOTP').val();
         
        var password = $('#txtnewpwd').val();
        var confirmpassword = $('#txtconfirmpwd').val();
        if (otp == "") {
            alert("Please enter the OTP!");
            return;
        }


        if (type == 0) {
            if (password == "") {
                alert("Please enter the Password!");
                return;
            }
        if (password != confirmpassword) {
            alert("Password and Confirm Password should not match!");
            return;
        }
        }

        $.ajax({
            type: 'POST',
            url: url_UpdateForgetPassword,
            async: false,
            data: { otp: otp, userId: userId, password: password, type: type },
            dataType: 'json',
            success: function (data) {
                if (data == 2) {
                    isverify = "0";
                    alert("OTP is wrong!")
                }
               else if (type == 1 && data == 0) {
                    isverify = "0";
                    alert("OTP is wrong!")
                }
                else if (type == 1 && data == 1){
                    isverify = "1";
                    alert("OTP is Verified!")
                }
                else if (type == 0 ) {
                    if (data == 0) {
                        alert("Password updated faild!");
                    }
                    else
                        alert("Password updated successfully!");
                }


            }
        });
    }
</script>


<style>
    #RightClickmenu {
        /*visibility: hidden;*/
        display: none;
        /*opacity: 0;*/
        position: fixed;
        background: #fff;
        color: #555;
        font-family: sans-serif;
        font-size: 11px;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
        -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
        box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
        padding: 0px;
        border: 1px solid #C6C6C6;
    }

        #RightClickmenu a {
            display: block;
            color: #555;
            text-decoration: none;
            /*padding: 6px 8px 6px 30px;*/
            padding: 6px 8px 6px 23px;
            /*width: 250px;*/
            width: 80px;
            position: relative;
        }
</style>




<style>
    .vertical-horizontal-center {
        margin: 0;
        position: absolute;
        top: 30%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .formContainer_survey {
        width: 98%;
        height: auto;
        /*height: 100%;*/
        /* padding: 57px; */
        border: 2px solid #e7e7e7;
        padding-top: 12px;
        /*border-radius: 20px;*/
        border-radius: 5px;
        /*margin-left: 17px;*/
        /*margin-left: 1%;*/
        margin-bottom: 5px;
    }

    #mogrify_reportbackground {
        /*background: #8888ff;*/
        background: #f7f9fb;
        width: 1280px;
        height: 650px;
        margin: 0 auto;
        /*overflow: scroll;*/
        border: 3px solid #CCC;
    }

    #mogrify_padding {
        margin-top: 10px;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 50%;
        display: table;
        /*border:5px solid yellow;*/
    }

    #table_row {
        display: table-row;
        width: auto;
        clear: both;
    }


    #table_col_toolbox {
        float: left;
        display: table-column;
        width: 420px;
    }

    #mogrify_toolbox {
        background: #FFFFFF;
        width: 400px;
        height: 310px;
        margin: 0 auto;
        padding-top: 0px;
        /*border: 3px solid lightgray;*/
    }

    .toolbox_Vertical_button_space {
        padding-bottom: 6px;
    }

    .toolbox_Horizontal_button_space {
        margin-left: 8px;
    }

    #mogrify_properties {
        background: #FFFFFF;
        width: 400px;
        height: 270px;
        margin: 0 auto;
        border: 3px solid #9FD7FC;
    }

    #table_col_report {
        float: left;
        display: table-column;
        width: 540px;
    }

    #mogrify_report {
        /*background: #8888ff;*/
        background: #f7f9fb;
        width: 520px;
        height: 580px;
        margin: 0 auto;
    }


    .table_col_treeview {
        float: left;
        display: table-column;
        width: 300px;
        /*border:1px solid red;*/
    }

    .mogrify_treeview {
        background: #FFFFFF;
        width: 280px;
        height: 620px;
        margin: 0 auto;
    }


    #mogrify_tool_label {
        border: 1px solid black;
        width: 50px;
        height: 50px;
    }

    .mogrify_reportA {
        /*height: 1200px;*/
        height: 600px;
    }

    .change_Color {
        color: red;
    }
</style>




@*tab*@
<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        /*border: 1px solid #ccc;*/
        /*background-color: #f1f1f1;*/
        background-color: #FFFFFF;
        border-bottom: 1px solid lightgray;
    }

        /* Style the buttons inside the tab */
        .tab button {
            /*background-color: inherit;*/
            background-color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #FFFFFF;
                border-bottom: 5px solid #5FA1FC;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        /*border: 3px solid #ccc;*/
        border-top: none;
    }
</style>

