@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_LogIn.cshtml";
}

 

<html>
<head>

    <!-- for-mobile-apps -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   @* <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@

    <!-- //for-mobile-apps -->
    <link href="//fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link href="~/Content/login/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    @*<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <script src="js/jquery-2.1.4.min.js"></script>*@
    <link href="~/Content/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Content/login/js/jquery-2.1.4.min.js"></script>
    @if (ViewBag.Message != null)
    {
        <script>

            $(document).ready(function () {

                alert('@ViewBag.Message');

            });

        </script>

    }

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        form {
            border: 3px solid #f1f1f1;
            background-color: aliceblue;
            opacity: 0.7;
            filter: alpha(opacity=60);
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 3px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #002684;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #005db7;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /*Change styles for span and cancel button on extra small screens*/
        @@media screen and (max-width: 300px) {
            span .psw; {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }
    </style>
</head>
<body background="~/Content/themes/base/images/Cin-skyline_night.jpg">
    @* <body background="~/Content/themes/base/images/inpg11_frth.jpg">*@
    @*<img src="~/Content/themes/base/images/pg.png" />*@
    @*<img src="~/Content/themes/base/images/p-and-g-global-headquarters-cincinnati-oh.jpg" />*@
    <div style="height: 48px; width: 420px; padding-left: 450px; padding-top: 49px;">
        @using (Html.BeginForm("loginform", "Login", FormMethod.Post))
        {
            <div class="imgcontainer">
               @* <img src="~/Content/themes/base/images/Procter_&_Gamble.jpg" alt="Avatar" class="avatar">*@
                <img src="~/Content/themes/base/images/SalesLogo.png"  alt="Avatar" class="avatar" />
            </div>
            <div class="container">
                @*<label for="uname"><b>Username</b></label>*@
                <input type="text" placeholder="Enter Username" name="uname" required>

                @*<label for="psw"><b>Password</b></label>*@
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <p>
                        <input type="checkbox" checked="checked" name="remember">
                        Remember me
                    </p>
                </label>
            </div>@*

            <div class="container" style="background-color: aliceblue;">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>*@
        }
    </div>
</body>
</html>

